<button class="btn btn-primary" @onclick="Clicked">@_template</button>

@code {
    [Parameter]
    public AnyFunc<int, string> GetTemplate { get; set; }

    private string _template = "Click me too!";

    private async void Clicked()
    {
        _template = await GetTemplate.InvokeAsync(100);
    }
}
